h1, h2{
    text-align: center;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 600;
    
}

h1 {
    background: rgb(255,1,1);
    background: linear-gradient(90deg, rgba(255,1,1,1) 35%, 
    rgba(248,255,0,1) 50%, 
    rgba(0,54,255,1) 65%);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    background: rgb(255,178,1);
    background: linear-gradient(90deg, rgba(255,178,1,1) 35%,
     rgba(17,255,0,1) 50%,
     rgba(154,155,159,1) 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.row {
    text-align: center;
}

.card {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: #eee;
    cursor: pointer;
}

.card.done {
    cursor: default;
}

.card.done:hover {
    cursor: default;
    box-shadow: none;
}

.card:hover {
    border: 1px solid black;
    box-shadow: inset 0px 0px 2px 2px rgb(10, 10, 34);
    box-sizing: border-box;
}

.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.grey {
    background-color: grey;
}
.orange {
    background-color: orange;
}
.pink {
    background-color: pink;
}
.black {
    background-color: black;
}
.color-hidden {
    background-color: #eee;
}